@{
    ViewBag.Title = "About";
}
<style>
       body{
           font-family:Corbel;
           text-align:center;
       }

        .aboutphoto{
            width:100%;
            height:550px;
            /*background-image:url("about1.jpg");*/
            background-size:cover;
            background-repeat:no-repeat;


        }
        .textplace{
            width:100%;

            margin-top:15px;
        }

        .cont2{
            display:flex;
            flex-direction:row;
            margin-top:8%;
            width:100%;
/*            background-color:#FF9F29;
*/            }
        .textplace1{
            width:50%;
            font-size:18px;
            font-family:'Times New Roman', Times, serif;
            margin-left:5%;
        }
        .aboutphoto2{
            width:100%;
            height:550px;
            background-image:url("../photos/33.jpg");
            background-size:cover;
            background-repeat:no-repeat;
        }
        .cont3{
            margin-top:8%;
        }
        .cont4{
            display:flex;
            flex-direction:row;
            height:350px;
            margin-top:10%;
        }
        .card1{
            width:30%;
            margin-left:2%;
            height:100%;
/*            background-color:#FF9F29;
*/        }
        .cardphoto1{
            width:100%;
            height:50%;
            background-image:url("card1.jpg");
             background-size:cover;
            background-repeat:no-repeat;
        }
        .cardphoto2{
            width:100%;
            height:50%;
            background-image:url("card2.jpg");
             background-size:cover;
            background-repeat:no-repeat;
        }
        .cardphoto3{
            width:100%;
            height:50%;
            background-image:url("card3.jpg");
             background-size:cover;
            background-repeat:no-repeat;
        }
        @*@media all and (min-device-width:0 ) and (max-device-width:480px )
               {
          .cont2{
              display:flex;
              flex-direction:column;
          }
          .cont4{
              display:flex;
              flex-direction:column;
              width:100%;
              margin-top:2%;
              margin-left:0;
              height:40%;
          }
          .card1{
              width:100%;
              height:350px;
          }
          .aboutphoto2{
              width:100%;
              height:350px;
          }
          .textplace1{
              width:90%;
              margin-left:0;
              height:auto;
          }
        }*@
</style>

<div class="site-blocks-cover" style="background-image:url('/photos/hero_1.jpg'); ">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                <div class="site-block-cover-content text-center">
                    <h1>About Drug Corner</h1>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch section-overlap">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-primary h-100">
                    <a href="#who" class="h-100">
                        <h5>Who <br> We are</h5>
                        <p>
                            Learn more about us
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap h-100">
                    <a href="#goals" class="h-100">
                        <h5>Our <br> Goals</h5>
                        <p>
                            Learn more about our goals
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-warning h-100">
                    <a href="#better" class="h-100">
                        <h5>We're <br>better together</h5>
                        <p>
                            Learn more
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div style="font-size:25px;" id="who">

    <h2><b>Who we are ?</b></h2>
    <p style="font-size:25px;">
        Drug corner is perfect site for you , Which let you to get your drugs and deliver it to your home , This site let you to have communicate with doctors and take a closer look to pharmacies and their products , <b>Be Well .</b>
    </p>
</div>
<br />

<div style="font-size:25px;" id="goals">
    <div>
        <h2><b>Our Goals</b></h2>
        <p>To Save people life.</p>
        <p>To Make it easy way to get drugs.</p>
        <p>To Be the necessary part of our community.</p>
        <p>To Deliver drugs and products all over jordan.</p>
        <p>To Reduce time and effort to people.</p>
        <p>To Take care about patients and their needs.</p>
        <p>To Let you on the lookout about every new drug risks and benefits.</p>
    </div>
</div>

<div class="cont3" style="font-size:25px;" id="better">
    <h2 style="text-align:center;"><b>We’re better together.</b></h2>
    <p style="font-size:25px;">
        To help us to reach you, we are here to help you and deliver your drugs with easy way ,So be carfully using this site , And Be Well.
    </p>
</div>

